@charset "UTF-8";
body {
  font-size: 62.5%;
  font-family: Times New Roman; }

/*头部*/
.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 310px;
  background: url(../images/contours-opaque.png), url(../images/gridlines.png) -2% 0, url(../images/huntington.jpg) 8% 40%;
  background-size: auto, auto, cover;
  /*头部装饰*/
  /*头部链接*/ }
  .header .website-decorate {
    width: 100%;
    height: 3%;
    border-bottom: 3px solid #0e4144;
    background: #255251; }
  .header .website-title {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 65%;
    height: 96%; }
    .header .website-title .website-title-content {
      position: absolute;
      top: 50%;
      left: 50%;
      box-sizing: border-box;
      width: 80%;
      height: 100%;
      transform: translate(-50%, -50%); }
      .header .website-title .website-title-content img {
        float: left;
        max-width: 14.3em;
        max-height: 14.3em;
        margin: 6em auto; }
      .header .website-title .website-title-content .website-title-t {
        float: left;
        margin: 10% auto;
        padding-left: 3em; }
        .header .website-title .website-title-content .website-title-t h1 {
          color: #ffffff;
          font-size: 5em;
          font-weight: 100; }
        .header .website-title .website-title-content .website-title-t p {
          color: #93b7ac;
          font-size: 3em; }
  .header .website-link {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 35%;
    height: 96%;
    background: rgba(21, 89, 82, 0.2); }
  .header .txt-link {
    width: 58%;
    text-align: center; }
    .header .txt-link a {
      margin: 1em auto;
      height: auto;
      font-size: 2em; }
  .header ul {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 95%;
    height: 25%;
    transform: translate(-50%, -50%); }
  .header li {
    float: left;
    box-sizing: border-box;
    padding: 0.5em 0 0 0;
    margin: 0 1px;
    width: 20%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); }
    .header li:hover {
      background: rgba(255, 255, 255, 0.3); }
      .header li:hover a {
        color: #ffffff; }
  .header a {
    float: left;
    display: block;
    width: 100%;
    color: #c3d4cf;
    font-size: 5em;
    text-align: center;
    text-decoration: none; }

/*头部装饰*/
.header:before {
  content: "";
  position: absolute;
  top: 13px;
  width: 100%;
  height: 3px;
  background: #336867;
  opacity: 0.4; }

/*主要内容*/
.main {
  position: relative;
  box-sizing: border-box;
  /*侧栏信息*/ }
  .main .content {
    float: left;
    box-sizing: border-box;
    width: 65%; }
    .main .content p {
      padding: 0.3em 0;
      line-height: 1.5em;
      font-size: 2em; }
    .main .content a {
      position: relative;
      display: inline-block;
      color: #a9b995;
      padding: 1px 10px 1px 8px;
      margin: -1px -10px -1px -8px;
      text-decoration: none; }
      .main .content a i {
        padding: 2px;
        color: #a9b995;
        background: #d9e1cd; }
      .main .content a:hover {
        color: #ffffff;
        background: #3d8a9f; }
        .main .content a:hover i {
          color: #ffffff;
          background: #357d93; }
    .main .content section {
      padding: 8%; }
    .main .content article {
      color: #4b6565;
      padding: 0 0 0 8%; }
      .main .content article h1 {
        padding: 0.3em 0;
        margin: 0.3em 0;
        font-size: 2.8em;
        font-weight: 400;
        font-family: Arial; }
      .main .content article .special-text {
        color: #0d99c1;
        text-decoration: none; }
        .main .content article .special-text:hover {
          text-decoration: underline;
          background: none; }
  .main .description {
    position: absolute;
    height: 100%;
    top: 0;
    left: 65%;
    box-sizing: border-box;
    width: 35%;
    background: #e4eee8; }
    .main .description ul {
      box-sizing: border-box;
      padding: 12% 15% 34.8%;
      height: 100%; }
    .main .description li {
      box-sizing: border-box;
      padding: 10% 0;
      height: 8em;
      border-bottom: 1px solid #d9e3dc; }
    .main .description a {
      display: block;
      text-decoration: none; }
      .main .description a span {
        color: #c0cac3; }
    .main .description li a:first-child {
      color: #91a0a1;
      font-size: 2em;
      font-weight: 200;
      font-family: Arial; }
    .main .description li a:nth-child(2) {
      color: #8e9588;
      font-size: 1.6em; }
    .main .description li a:hover {
      color: #49968e; }
    .main .description .aside-01 {
      box-sizing: border-box;
      height: 100%; }
      .main .description .aside-01 ul li:last-child {
        border: none; }
    .main .description .aside-02 {
      box-sizing: border-box;
      height: 100%; }
      .main .description .aside-02 ul {
        padding-top: 33%; }
      .main .description .aside-02 li {
        padding: 6% 0;
        height: 6em;
        border-top: 1px solid #a0b9ad;
        border-bottom: 1px solid #a0b9ad; }

.aside {
  display: none;
  box-sizing: border-box; }
  .aside ul {
    width: 100%; }
  .aside li {
    float: left;
    width: 50%;
    padding: 1em 7em;
    border-bottom: 1px solid #d9e3dc;
    box-sizing: border-box; }
  .aside a {
    display: block;
    text-decoration: none; }
    .aside a span {
      color: #c0cac3; }
  .aside li a:first-child {
    color: #91a0a1;
    font-size: 2em;
    font-weight: 100;
    font-family: Arial; }
  .aside li a:nth-child(2) {
    color: #8e9588;
    font-size: 1.6em; }
  .aside li a:hover {
    color: #49968e; }
  .aside .aside-01 {
    box-sizing: border-box;
    background: #edf4f0; }
  .aside .aside-02 {
    box-sizing: border-box; }
    .aside .aside-02 li {
      border-bottom: 1px solid #a0b9ad; }

/*底部*/
.footer {
  width: 100%;
  /*底部标签*/ }
  .footer .adv-message {
    position: relative;
    width: 100%;
    height: 310px;
    font-size: 3.5em;
    text-align: center;
    color: #7a9d98;
    background: url(../images/contours-opaque.png), url(../images/gridlines.png) -2% 0, url(../images/koi.jpg) 50% 45%;
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat; }
    .footer .adv-message .adv-contain {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%); }
      .footer .adv-message .adv-contain a {
        color: #c3cfcf;
        text-decoration: none; }
        .footer .adv-message .adv-contain a:hover {
          text-decoration: underline; }
  .footer .adv-icon {
    position: relative;
    height: 10%;
    min-height: 180px;
    background: #134347; }
    .footer .adv-icon .footer-contain {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 6em;
      color: #89a1a3;
      letter-spacing: 0.5em;
      transform: translate(-50%, -50%); }

.main-02,
.aside-02 {
  background: url(../images/contours-opaque.png), url(../images/gridlines.png) -2% 0, url(../images/bamboo.png);
  background-attachment: scroll, scroll, fixed;
  background-color: rgba(138, 188, 159, 0.3);
  background-size: auto, auto, cover;
  background-repeat: repeat, repeat, no-repeat; }

/*清除浮动*/
.header:after {
  content: "";
  display: table; }

.header:after {
  clear: both; }

.main:before,
.main:after {
  content: "";
  display: table; }

.main:after {
  clear: both; }

.aside-01:before,
.aside-01:after {
  content: "";
  display: table; }

.aside-01:after {
  clear: both; }

.aside-02:before,
.aside-02:after {
  content: "";
  display: table; }

.aside-02:after {
  clear: both; }

@media screen and (max-width: 996px) {
  .header .website-title,
  .main .content,
  .header .website-link {
    width: 100%; }
  .header {
    height: 280px; }
    .header .website-title .website-title-content {
      height: 280px;
      text-align: center; }
      .header .website-title .website-title-content img {
        margin: 4em auto; }
      .header .website-title .website-title-content .website-title-t {
        padding: 0;
        margin: 10% auto; }
    .header .website-link {
      position: absolute;
      bottom: 0;
      height: 6em;
      background: none; }
      .header .website-link ul {
        width: 100%;
        height: 6em; }
      .header .website-link li {
        margin: 0;
        width: 10%;
        height: 6em;
        background: rgba(255, 255, 255, 0.2); }
      .header .website-link .txt-link {
        width: 80%; }
  .main .content article {
    padding: 0; }
  .main .description {
    display: none; }
  .aside {
    display: block; }
  .footer .adv-message {
    height: 280px; }
    .footer .adv-message .adv-contain {
      width: 95%; }
  .footer .adv-icon {
    height: 160px; }
    .footer .adv-icon .footer-contain {
      letter-spacing: 0.5em;
      font-size: 4em; } }
