body {
  font-size: 62.5%;
  font-family: Times New Roman;
}


/*头部*/
.site-header {
  position: relative;
  box-sizing: border-box;
  width: $header-width;
  height: $header-height;
  background: url(../images/contours-opaque.png), url(../images/gridlines.png) -2% 0, url(../images/huntington.jpg) 8% 40%;
  background-size: auto, auto, cover;
  .header-title {
    display: -webkitinline-flex;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    width: $header-left;
    height: $header-title-h;
    .header-title-content {
      box-sizing: border-box;
      width: $header-title-content-w;
      height: $height;
      /*logo*/
      img {
        float: left;
        max-width: $logo-size;
        margin-top: 88.5px;
        margin-left: 10%;
      }
      .header-title-t {
        float: left;
        margin-top: 98.5px;
        margin-left: 10px;
        h1 {
          color: $header-title-t-color;
          font-size: $header-title-t-h;
          font-weight: $header-title-weight;
        }
        p {
          color: $header-title-t-p-color;
          font-size: $header-title-t-p-size;
        }
      }
    }
  }
  /*头部链接*/
  .header-link {
    position: relative;
    float: right;
    box-sizing: border-box;
    width: $header-right;
    height: $header-title-h;
    background: $website-link-bg;
  }
  .txt-link {
    width: $txt-link-w;
    text-align: center;
    a {
      line-height: 77px;
      text-align: center;
      font-size: $txt-link-size;
      font-family:Times New Roman;
    }
  }
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: $website-link-content-w;
    height: $website-link-content-h;
    transform: translate(-50%, -50%);
  }
  li {
    float: left;
    position: relative;
    box-sizing: border-box;
    margin: 0 $website-link-m-lr;
    width: $website-link-w;
    height: $height;
    background: $website-link-li-bg;
    &:hover {
      background: $website-link-li-bg-hover;
      a {
        color: $website-link-a-hover;
      }
    }
  }
  a {
    float: left;
    position: relative;
    display: block;
    width: $width;
    line-height: 77px;
    text-align: center;
    color: $website-link-a;
    font-size: $website-link-a-size;
    font-family: 'iconfont';
    text-decoration: none;
  }
}


/*头部装饰*/
.site-header:before {
  content: "";
  position: absolute;
  width: $header-width;
  height: $website-decorate-h;
  border-bottom: $website-decorate-border-w solid $website-decorate-border-c;
  background: $website-decorate-bg;
}

.site-header:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: $header-width;
  height: $website-decorate-before-h;
  background: $website-decorate-before;
  opacity: 0.4;
}


/*主要内容*/

.container {
  position: relative;
  box-sizing: border-box;
  .content {
    float: left;
    box-sizing: border-box;
    width: $header-left;
    p {
      padding: $main-p-p 0;
      line-height: $main-p-line-heigh;
      font-size: $font-size-p;
    }
    a {
      position: relative;
      display: inline-block;
      color: $contain-span-color;
      padding: $main-a-p;
      margin: $main-a-m;
      text-decoration: none;
      i {
        padding: $main-a-i-p;
        color: $main-a-i-color;
        background: $main-a-i-bg;
      }
      &:hover {
        color: $contain-span-hover-color;
        background: $contain-span-hover-bg;
        i {
          color: $main-a-i-color-hover;
          background: $main-a-i-bg-hover;
        }
      }
    }
    section {
      padding: $section-p;
    }
    article {
      color: $article-color;
      padding: 0 0 0 $comtain-main-p-lr;
      h1 {
        padding: $article-h1 0;
        margin: $article-h1 0;
        font-size: $font-size-title;
        font-weight: 400;
        font-family: Arial;
      }
      .special-text {
        color: $specila-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          background: none;
        }
      }
    }
  }
  /*侧栏信息*/
  .sidebar {
    position: absolute;
    height: $height;
    left: $header-left;
    box-sizing: border-box;
    width: $header-right;
    background: $contain-message-bg;
    ul {
      box-sizing: border-box;
      padding: $comtain-main-ul-t-p $comtain-main-ul-lr-p $comtain-main-ul-b-p;
      height: $height;
    }
    li {
      box-sizing: border-box;
      padding: $contain-message-li-p-tb 0;
      border-bottom: 1px solid $contain-message-li-b-c;
    }
    a {
      display: block;
      text-decoration: none;
      span {
        color: $contain-message-a-span-c;
      }
    }
    li a:first-child {
      color: $font-color-messige-title;
      font-size: $font-size-messige-title;
      font-weight: 200;
      font-family: Arial;
    }
    li a:nth-child(2) {
      color: $font-color-messige-main;
      font-size: $font-size-messige-main;
    }
    li a:hover {
      color: $font-color-messige-title-hover;
    }
    .sidebar-main-row-1 {
      box-sizing: border-box;
      height: $height;
      ul li:last-child {
      border: none;
      }
    }
    .sidebar-main-row-2 {
      box-sizing: border-box;
      height: $height;
      ul {
        padding-top: $aside-02-p-t;
      }
      li {
        border-bottom: 1px solid $contain-message-li-aside-02-b-c;
      }
      li:first-child {
        border-top: 1px solid $contain-message-li-aside-02-b-c;
      }
    }
  }
}

/*底部*/

.footer {
  width: $header-width;
  .footer-message {
    position: relative;
    width: $header-width;
    height: $header-height;
    font-size: $dav-meassage-size;
    font-style: italic;
    text-align: center;
    color: $adv-meassage-color;
    background: url(../images/contours-opaque.png), url(../images/gridlines.png) -2% 0, url(../images/koi.jpg) 50% 45%;
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
    .footer-message-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $header-title-content-w;
      transform: translate(-50%, -50%);
      a {
        color: $adv-meassage-a-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  /*底部标签*/
  .footer-icon {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    justify-content: center;
    height: $footer-height;
    height: $footer-height-min;
    background: $footer-bg;
    .footer-icon-content {
      display: -webkit-flex;
      /* Safari */
      display: flex;
      align-self: center;
      font-size: $footer-font-size;
      a {
        margin: 0 1.2em;
        color: $footer-color;
        &:hover {
          color: $footer-bg;
          i {
            background: $footer-bg-hover;
            border: 3px solid $footer-bg-hover;
          }
        }
      }
      i {
        padding: 0.3em;
        width: 0.99em;
        text-align: center;
        border-radius: 50%;
        border: 3px solid $footer-color;
      }
    }
  }
}

.container-row-2,
.sidebar-main-row-2 {
  background: $main-02-bg;
  background-attachment: $main-02-bg-attachment;
  background-color: $main-02-bg-color;
  background-size: $main-02-bg-size;
  background-repeat: $main-02-bg-repeat;
}


/*清除浮动*/

.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.sidebar-main-row-1:before,
.sidebar-main-row-1:after {
  content: "";
  display: table;
}

.sidebar-main-row-1:after {
  clear: both;
}

.sidebar-main-row-2:before,
.sidebar-main-row-2:after {
  content: "";
  display: table;
}

.sidebar-main-row-2:after {
  clear: both;
}

ul:before,
ul:after {
  content: "";
  display: table;
}

ul:after {
  clear: both;
}

/*变化的时候侧栏在底部*/


@media (min-width:0px) and (max-width: 1200px) {
  .site-header li{
    padding:0;
  }
  .container .content {
    height: 80%;
    article h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .container .content article {
    padding: 0;
  }
  .container .sidebar {
    float: left;
    position: relative;
    bottom: 0;
    width: $width;
    height: 20%;
    box-sizing: border-box;
    left: 0;
    .sidebar-main-row-1 {
      ul li:last-child {
        border-top: 1px solid $contain-message-li-b-c;
      }
    }
    .sidebar-main-row-2 {
      ul {
        padding: 0;
        border: none;
      }
      li {
        border-top: 1px solid $contain-message-li-aside-02-b-c;
        border-bottom: none;
      }
      li:first-child {
        border-top: 1px solid $contain-message-li-aside-02-b-c;
      }
      li:last-child {
        width: 100%;
        border-bottom: 1px solid $contain-message-li-aside-02-b-c;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      width: $width;
      border-bottom: 1px solid $contain-message-li-b-c;
    }
    a {
      margin: 0;
      padding: 0;
    }
    li {
      float: left;
      padding: 1.5em 8%;
      width: 50%;
      border-top: 1px solid $contain-message-li-b-c;
      border-bottom: none;
    }
    li a:first-child {
      font-size: 1.5em;
    }
    li a:nth-child(2) {
      font-size: 1em;
    }
  }
}

@media (min-width:0px) and (max-width: 547px) {
  .site-header .header-title,
  .container .content,
  .site-header .header-link {
    width: $width;
  }
  .site-header {
    height: $header-height-996;
    .header-title .header-title-content {
      height: $header-height-996;
      text-align: center;
      img {
        float: none;
        margin-top: 25px;
        max-width: 85px;
        margin-left: 0;
      }
      .header-title-t {
        float: none;
        padding: 0;
        margin-top: 12.5px;
        margin-left: 10px;
        h1 {
          font-size: 3em;
        }
        p {
          font-size: 2.5em;
        }
      }
    }
    .header-link {
      position: absolute;
      bottom: 0;
      height: 56px;
      background: none;
      ul {
        width: $width;
        height: 56px;
      }
      li {
        margin: 0;
        width: 20%;
        height: 56px;
        background: $website-link-h-li-bg-996;
      }
      .txt-link {
        width: 60%;
       a{
          font-size:1.2em;
        }
      }
      a{
        line-height: 56px;
        font-size:2em;
      }
    }
  }
  .container .sidebar {
    li {
      width: $width;
      padding: 1.2em 8%;
    }
    li a:first-child {
      font-size: 1.2em;
    }
    li a:nth-child(2) {
      font-size: 0.8em;
    }
  }
  .container .content {
    article h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .footer .footer-message {
    height: 300px;
    font-size: 2.5em;
    .footer-message-content {
      width: $footer-adv-contain-w;
    }
  }
  .footer .footer-icon {
    height: 120px;
    font-size: 0.6em;
    .footer-icon-content {
      font-size: $footer-adv-icon-font-size;
      a {
        margin: 0 0.3em;
      }
    }
  }
}

@media (min-width:547px) and (max-width: 768px) {
  .site-header .header-title,
  .container .content,
  .site-header .header-link {
    width: $width;
  }
  .site-header {
    height: $header-height-996;
    .header-title .header-title-content {
      height: $header-height-996;
      text-align: center;
      img {
        max-width: 95px;
        margin-top: 63px;
        margin-left: 15%;
      }
      .header-title-t {
        padding: 0;
        margin-top: 75.5px;
        margin-left: 10px;
        h1 {
          font-size: 3em;
        }
        p {
          font-size: 2.5em;
        }
      }
    }
    .header-link {
      position: absolute;
      bottom: 0;
      height: 60px;
      background: none;
      ul {
        width: $width;
        height: 60px;
      }
      li {
        margin: 0;
        width: $website-link-h-li-w;
        height: 60px;
        background: $website-link-h-li-bg-996;
      }
      .txt-link {
        width: $txt-link-w-996;
        a{
          font-size:1.6em;
        }
      }
      a{
        line-height: 60px;
        font-size:3em;
      }
    }
  }
  .container .sidebar ul{
    padding: 0 8%;
    li{
      width: 45%;
      padding: 1.5em 0;
      margin: 0 2%;
    }
  }
  .container .sidebar .sidebar-main-row-2 ul{
    padding: 0 8%;
     li {
      width: $width;
      margin: 0;
      text-align: center;
      border:none;
      &:first-child{
        border:none;
      }
      &:last-child{
        border:none;
      }
    }
    li a:first-child {
      font-size: 1.2em;
    }
    li a:nth-child(2) {
      font-size: 0.8em;
    }
  }
  .footer .footer-message {
    height: $header-height-996;
    .footer-message-content {
      width: $footer-adv-contain-w;
    }
  }
  .footer .footer-icon {
    height: $footer-adv-icon-h-996;
    font-size: 0.8em;
    .footer-icon-content {
      font-size: $footer-adv-icon-font-size;
      a {
        margin: 0 0.8em;
      }
    }
  }
}

@media (min-width:768px) and (max-width: 1200px) {
  .site-header .header-title,
  .container .content,
  .site-header .header-link {
    width: $width;
  }
  .site-header {
    height: $header-height-996;
    .header-title .header-title-content {
      height: $header-height-996;
      text-align: center;
      img {
        max-width: 123px;
        margin-top: 63px;
        margin-left: 15%;
      }
      .header-title-t {
        padding: 0;
        margin-top: 75.5px;
        margin-left: 30px;
      }
    }
    .header-link {
      position: absolute;
      bottom: 0;
      height: 62px;
      background: none;
      ul {
        width: $width;
        height: 62px;
      }
      li {
        margin: 0;
        width: $website-link-h-li-w;
        height: $website-link-h-996;
        background: $website-link-h-li-bg-996;
      }
      .txt-link {
        width: $txt-link-w-996;
        a{
          font-size:1.8em;
        }
      }
      a{
        line-height: 62px;
        font-size:4em;
      }
    }
  }
  .footer .footer-message {
    height: $header-height-996;
    .footer-message-content {
      width: $footer-adv-contain-w;
    }
  }
  .footer .footer-icon {
    height: $footer-adv-icon-h-996;
    .footer-icon-content {
      font-size: $footer-adv-icon-font-size;
      a {
        margin: 0 1em;
      }
    }
  }
}

