body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: Times New Roman;
}

h1,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.header {
  position: relative;
  box-sizing: border-box;
  width: $header-width;
  height: $header-height;
  background: url(../images/contours-opaque.png), url(../images/gridlines.png) -2% 0, url(../images/huntington.jpg) 8% 40%;
  background-size: auto, auto, cover;
  .website-decorate {
    width: $header-width;
    height: $website-decorate-h;
    background: $website-decorate-bg;
    border-bottom: $website-decorate-border-w solid $website-decorate-border-c;
  }
  .website-title {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: $header-left;
    height: $website-title-h;
    .website-title-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $website-title-content-w;
      transform: translate(-50%, -50%);
      img {
        float: left;
        max-width: $logo-size;
        max-height: $logo-size;
        margin: 12% auto;
      }
      .website-title-t {
        float: left;
        width: 70%;
        margin: 15% auto;
        padding-left: 3em;
        h1 {
          padding: 0;
          margin: 0;
          font-size: $website-title-t-h;
          font-weight: $website-title-t-weight;
          color: $website-title-t-color;
        }
        p {
          padding: 0;
          margin: 0;
          font-size: $website-title-t-p-size;
          color: $website-title-t-p-color;
        }
      }
    }
  }
  .website-link {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: $header-right;
    height: $website-title-h;
    background: rgba(21, 89, 82, 0.2);
  }
  .txt-link {
    width: 58%;
    text-align: center;
    a {
      font-size: 2em;
      height: auto;
      margin: 1em auto;
    }
  }
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $website-link-content-w;
    height: $website-link-content-h;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
  }
  li {
    float: left;
    box-sizing: border-box;
    padding: 0.5em 0 0 0;
    margin: 0 1px;
    width: 20%;
    height: $height;
    background: rgba(255, 255, 255, 0.1);
    &:hover {
      background: rgba(255, 255, 255, 0.3);
      a {
        color: #fff;
      }
    }
  }
  a {
    float: left;
    display: block;
    width: 100%;
    color: #c3d4cf;
    font-size: 5em;
    text-align: center;
    text-decoration: none;
  }
}

.header:before {
  content: "";
  position: absolute;
  top: 13px;
  width: $header-width;
  height: $website-decorate-before-h;
  background: $website-decorate-before;
  opacity: 0.4;
}

.header:after {
  content: "";
  display: table;
}

.header:after {
  clear: both;
}

.main {
  position: relative;
  box-sizing: border-box;
  .content {
    float: left;
    box-sizing: border-box;
    width: $header-left;
    p {
      font-size: $font-size-p;
      padding: 10px 0px;
      line-height: 2em;
    }
    span {
      color: $contain-span-color;
      &:hover {
        background: $contain-span-hover-bg;
        color: $contain-span-hover-color;
        padding: 5px;
      }
    }
    section {
      padding: 5% 0;
    }
    article {
      padding: 0 $comtain-main-p-lr;
      h1 {
        font-size: $font-size-title;
        font-weight: 400;
        font-family: Arial;
      }
      .special-text {
        color: $specila-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .description {
    position: absolute;
    height: $height;
    top: 0;
    left: $header-left;
    box-sizing: border-box;
    width: $header-right;
    background: $contain-message-bg;
    ul {
      padding: $comtain-main-ul-t-p $comtain-main-ul-lr-p $comtain-main-ul-b-p;
    }
    li {
      box-sizing: border-box;
      padding: $contain-message-li-p-tb 0;
      height: $contain-message-li-h;
      border-bottom: 1px solid $contain-message-li-b-c;
    }
    a {
      display: block;
      text-decoration: none;
      span {
        color: $contain-message-a-span-c;
      }
    }
    li a:first-child {
      color: $font-color-messige-title;
      font-size: $font-size-messige-title;
      font-weight: 200;
      font-family: Arial;
    }
    li a:nth-child(2) {
      color: $font-color-messige-main;
      font-size: $font-size-messige-main;
    }
    li a:hover {
      color: #49968e;
    }
    .aside-02 {
      box-sizing: border-box;
      ul {
        padding-top: 20%;
        padding-bottom: 92.5%;
      }
      li {
        padding: 2em 0;
        height: 5em;
        border-top: 1px solid #a0b9ad;
        border-bottom: 1px solid #a0b9ad;
      }
    }
  }
}

.aside {
  display: none;
  box-sizing: border-box;
  ul {
    width: 100%;
  }
  li {
    float: left;
    width: 50%;
    padding: 1em 7em;
    border-bottom: 1px solid $contain-message-li-b-c;
    box-sizing: border-box;
  }
  a {
    display: block;
    text-decoration: none;
    span {
      color: $contain-message-a-span-c;
    }
  }
  li a:first-child {
    color: $font-color-messige-title;
    font-size: $font-size-messige-title;
    font-weight: 200;
    font-family: Arial;
  }
  li a:nth-child(2) {
    color: $font-color-messige-main;
    font-size: 1.6em;
  }
  li a:hover {
    color: #49968e;
  }
  .aside-01 {
    box-sizing: border-box;
    background: #edf4f0;
  }
  .aside-02 {
    box-sizing: border-box;
    li{
      border-bottom: 1px solid #a0b9ad;
    }
  }
}

.main:before,
.main:after {
  content: "";
  display: table;
}

.main:after {
  clear: both;
}

.aside-01:before,
.aside-01:after {
  content: "";
  display: table;
}

.aside-01:after {
  clear: both;
}

.aside-02:before,
.aside-02:after {
  content: "";
  display: table;
}

.aside-02:after {
  clear: both;
}

.footer {
  width: $header-width;
  .adv-message {
    position: relative;
    width: $header-width;
    height: $header-height;
    font-size: $dav-meassage-size;
    text-align: center;
    color: $adv-meassage-color;
    background: url(../images/contours-opaque.png), url(../images/gridlines.png) -2% 0, url(../images/koi.jpg) 50% 45%;
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
    .adv-contain {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $website-title-content-w;
      transform: translate(-50%, -50%);
      a {
        color: $adv-meassage-a-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .adv-icon {
    position: relative;
    height: $footer-height;
    min-height: $footer-height-min;
    background: $footer-bg;
    .footer-contain {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: $footer-font-size;
      color:$footer-color;
      letter-spacing: $footer-spacing;
      transform: translate(-50%, -50%);
   }
  }
}

.main-02,.aside-02 {
  background: url(../images/contours-opaque.png), url(../images/gridlines.png) -2% 0, url(../images/bamboo.png);
  background-attachment: scroll, scroll, fixed;
  background-color: rgba(138, 188, 159, 0.5);
  background-size: auto, auto, cover;
  background-repeat: repeat, repeat, no-repeat;
}

@media screen and (max-width: 996px) {
  .header .website-title,
  .main .content {
    width: 100%;
  }
  .header .website-link,
  .main .description{
    display: none;
  }
  .footer .footer-contain {
    font-size: 3em;
    letter-spacing: 1em;
  }
  .aside{
    display: block;
  }
  .footer .adv-message{
    height: 280px;
    .adv-contain{
      width: 95%;
    }
  }
  .footer .adv-icon{
    height: 160px;
    .footer-contain{
      letter-spacing: 0.5em;
      font-size: 4em;
    }
  }
}
