$header-width:100%;
$header-height:310px;

$header-left:65%;
$header-right:35%;

$height:100%;
$website-title-content-w:80%;
$website-link-content-w:80%;
$website-link-content-h:20%;

$link--lf-w:15%;
$link-m-w:65%;

$comtain-main-p-tb:3%;
$comtain-main-p-lr:8%;

$comtain-main-ul-t-p:5%;
$comtain-main-ul-b-p:10%;
$comtain-main-ul-lr-p:15%;

$contain-message-bg:#e4eee8;
$contain-message-li-h:9em;
$contain-message-li-b-c:#d9e3dc;
$contain-message-li-p-tb:10%;

$font-size-p:2em;
$font-size-title:2.8em;

$font-size-messige-title:2em;
$font-size-messige-main:1.5em;
$font-color-messige-title:#6e8182;
$font-color-messige-main:#646c5a;
