$header-width:100%;
$header-height:310px;

$header-left:65%;
$header-right:35%;

$height:100%;
$width:100%;

$website-decorate-h:3%;
$website-decorate-bg:#255251;
$website-decorate-before:#336867;
$website-decorate-before-h:3px;

$website-decorate-border-w:3px;
$website-decorate-border-c:#0e4144;

$header-title-h:100%;
$header-title-content-w:90%;
$website-link-content-w:95%;
$website-link-content-h:25%;
$txt-link-w:58%;
$website-link-w:20%;
$txt-link-size:2em;
$website-link-bg:rgba(21, 89, 82, 0.2);
$website-link-li-bg:rgba(255, 255, 255, 0.1);
$website-link-li-bg-hover:rgba(255, 255, 255, 0.3);
$website-link-a-hover:#ffffff;
$website-link-a:#c3d4cf;
$website-link-a-size:5em;
$website-link-content-img:6em;
$header-title-t-m:15%;
$header-title-t-p-l:3em;
$header-title-t-h:5em;
$header-title-weight:100;
$header-title-t-color:#ffffff;
$header-title-t-p-color:#93b7ac;
$header-title-t-p-size:3em;

$logo-size:143px;

$link--lf-w:15%;
$link-m-w:65%;
$link-color:#000;
$link-hover-bg:#ffffff;

$contain-color:#3f5050;
$comtain-main-p-tb:3%;
$comtain-main-p-lr:8%;

$contain-span-color:#a9b995;
$contain-span-hover-bg:#3d8a9f;
$contain-span-hover-color:#ffffff;

$section-p:8%;
$article-color:#4b6565;

$comtain-main-ul-t-p:60px;
$comtain-main-ul-b-p:80px;
$comtain-main-ul-lr-p:120px;

$contain-message-bg:#e4eee8;
$contain-message-li-h:8em;
$contain-message-li-b-c:#d9e3dc;
$contain-message-li-aside-02-b-c:#a0b9ad;
$contain-message-li-p-tb:20px;
$contain-message-a-span-c:#c0cac3;

$font-size-p:2em;
$font-size-title:2.8em;

$dav-meassage-size:3.5em;
$adv-meassage-color:#7a9d98;
$adv-meassage-a-color:#c3cfcf;

$font-size-messige-title:2em;
$font-size-messige-main:1.6em;
$font-color-messige-title:#91a0a1;
$font-color-messige-title-hover:#49968e;
$font-color-messige-main:#8e9588;

$aside-01-bg:#edf4f0;
$main-02-bg:url(../images/contours-opaque.png), url(../images/gridlines.png) -2% 0, url(../images/bamboo.png);
$main-02-bg-color:rgba(138, 188, 159, 0.3);
$main-02-bg-attachment:scroll, scroll, fixed;
$main-02-bg-size: auto, auto, cover;
$main-02-bg-repeat: repeat, repeat, no-repeat;
$main-p-p:0.3em;
$main-p-line-heigh:1.5em;
$main-a-p:1px 10px 1px 8px;
$main-a-m:-1px -10px -1px -8px;
$main-a-i-color:#a9b995;
$main-a-i-bg:#d9e1cd;
$main-a-i-p:2px;
$main-a-i-color-hover:#ffffff;
$main-a-i-bg-hover:#357d93;
$article-h1:0.3em;
$footer-height:10%;
$footer-height-min:180px;
$footer-bg:#134347;
$footer-contain-w:50%;
$footer-contain-h:50%;
$footer-color:#89a1a3;
$footer-bg-hover:#5a7c7f;
$footer-spacing:0.5em;
$footer-font-size:6em;

$specila-color:#0d99c1;

$website-link-content-img-996:4em;
$header-height-996:280px;
$footer-width-996:280px;
$website-link-h-996:6em;
$website-link-p-t:0.5em;
$website-link-m-lr:1px;
$website-title-t-m:10%;
$website-link-h-li-bg-996:rgba(255, 255, 255, 0.2);
$website-link-h-li-w:10%;
$txt-link-w-996: 80%;
$footer-adv-contain-w:95%;
$footer-adv-icon-h-996:160px;
$footer-adv-icon-font-size:4em;
$footer-adv-icon-letter-spacing:0.5em;

$aside-02-p-t:120px;
$aside-02-p-tb:6%;
$aside-02-li-h:6em;
